<a href="https://colab.research.google.com/github/Hyeytt/22_05_basic_python/blob/main/Class0930.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 10
print("x =", x)
x = 3.14
print("x =", x)
x = "hello world!"
print("x =", x)

x = 10
x = 3.14
x = hello world!

idle 인터프리터 언어 대화형 ㅋ메모리 임시저장  cpu 실행  디스크  입력 출력 실행

코랩, vscode 컴파일러

In [2]:
x = input("정수를 입력하시오: ")
y = input("정수를 입력하시오: ")
print(x + y)

정수를 입력하시오: 100
정수를 입력하시오: 200
100200

    x = input("정수를 입력하시오: ")
    y = input("정수를 입력하시오: ")
    print(x + y)
100200
..문자열로 받았기 때문에

In [4]:
x = int(input("정수를 입력하시오: "))
y = int(input("정수를 입력하시오: "))
print(x + y)

정수를 입력하시오: 100
정수를 입력하시오: 200
300

int 문자열을 정수로 변환

In [6]:
t=input("정수를 입력하시오: ")                     #int 괄호사이에 t 넣기 
x = int(t)                                        #x로 새로 받음
                                                  #input이 있으면 새로 받음 
t=input("정수를 입력하시오: ")                    #int 괄호사이에 t 넣기 
y = int(t)
print(x+y)

정수를 입력하시오: 100
정수를 입력하시오: 200
300

곱하기만 문자열과 숫자 반복가능

In [8]:
print('나는 현재' + str(21) + '입니다')

나는 현재21입니다